
<%= render 'layouts/header' %>
<div class="show-art">
  <div class="container">
  <div class="show-page">
    <div class="container">
       <p>
          <strong>Title:</strong>
          <%= @article.title %>
        </p>

        <p>
          <strong>Text:</strong>
          <%= @article.text %>
        </p>
        <p class="btn btn-default">
           <%= link_to 'Edit', edit_article_path(@article) %>
        </p>
        <p class="btn btn-default">
          <%= link_to 'Back', articles_path %>
        </p>


      <h3>Comments</h3>
        <%= render @article.comments %>
      <h3>Add a coments:</h3>
    <%= render 'comments/form' %>


    </div>

  </div>
</div>
</div>

<%= render 'layouts/footer' %>
