<div class="show-art">
  <div class="container">
    <div class="show-page">
      <div class="container">
          <%= form_for @user, url: profile_path do |f| %>
          <div class="form-group">
            <%= f.label :First_name %>
          </div>
          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :Last_name %>
          </div>
          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :Address %>
          </div>
          <div class="form-group">
            <%= f.text_field :address, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :Phone %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
          <div class="form-group txt-center">
           <%= f.submit 'Update profile', :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>