    <div>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: 'alert alert-success' %>
        <% end -%>
    </div>
    <div class="container-fluid">
               <% @articles.each do |article| %>
                 <div class="well box-content clearfix">
                      <div class="image">
                        <%= image_tag article.image.url(:medium) %>
                      </div>
                     <div>
                        <li class="title-content">
                         <%= article.title %>
                        </li>

                        <li>
                              <%= truncate(article.text,:length => 400, :seperator => '...' )%>
                         </li>

                        <li>
                          <%= link_to article_path(article) do %>
                            <button class="btn btn-primary">Read More</button>
                          <% end %>

                          <% if article.user == current_user %>
                              <%= link_to article_path(article), method: :delete, data: { confirm: '    Are you sure' } do %>
                                  <i class="txt-float fa fa-trash fa-2x" aria-hidden="true"></i>
                              <% end %>
                            <% if article.user == current_user %>
                               <%= link_to edit_article_path(article) do %>
                                    <i class="txt-float fa-2x fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <% end %>
                            <% end %>

                          <% end %>
                        </li>
                     </div>
                  </div>
              <% end %>

      <div class="btn-bottom">
        <p class="btn btn-primary btn-bot">
         <%= link_to 'My Blog', controller: 'articles' %>
        </p>
        <p class="btn btn-primary btn-bot">
          <%= link_to 'New article', new_article_path %>
        </p>
      </div>
</div>
