<!DOCTYPE html>
<html>
  <head>
    <title>MicTrainingRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
         <%= render 'layouts/banner' %>
        <div class="col-sm-9">
            <%= yield %>
        </div>
        <div class="mg-top-30 col-sm-3">
          <%= render 'layouts/box' %>
        </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
